Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.0
Werkzeug==0.9.6
dulwich==0.9.5
github3.py==0.9.0
hg-git==0.5.0
itsdangerous==0.24
mercurial==3.0.2
numpy==1.7.1
oauthlib==0.6.3
python-yo==0.1.0
requests==2.3.0
requests-oauthlib==0.4.0
stevedore==0.15
twython==3.1.2
uritemplate.py==0.3.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
wsgiref==0.1.2
